.container {
  max-width: 700px;
  margin: 50px auto;
}
.container table {
  display: block;
  width: 100%;
  width: max-content;
  max-width: 100%;
  overflow: auto;
  border-spacing: 0;
  border-collapse: collapse;
}
.container table th {
  font-weight: bold;
}
.container table th,
.container table td {
  padding: 6px 13px;
  border: 1px solid #d0d7de;
}
.container table tr {
  background-color: #ffffff;
  border-top: 1px solid #d0d7de;
}
.container table tr:nth-child(2n) {
  background-color: #f6f8fa;
}
.container table img {
  background-color: transparent;
}
